@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300&family=Meera+Inimai&family=Poppins:wght@200&family=Roboto&display=swap");

* {
  max-width: 1300px;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

header {
  height: 48px;
  width: 423px;
  position: absolute;
  background-color: #3c3a39;
  z-index: 1;
}

ul {
  list-style: none;
  padding: 0;
}

#hr-works {
  display: none;
}

.menuHiden {
  display: none;
}

/* Logotype */
.ulMenu li:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 94px;
  height: 44px;
  left: 5%;
  top: calc(50% - 44px / 2);
}

.ulMenu li:first-child img {
  width: 8vh;
  height: 8vh;
  border-radius: 5px 5px 0 5px;
}

/* Icon Menu */
.nav-bar .menu-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

.nav-bar i {
  color: white;
  font-size: 5vh;
}

#headline {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 390px;
  top: 48px;
  background-image: url("./Normal Button/Tertiary/Icons/background-image.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 120%;
}

#headline h1 {
  width: 327px;
  height: 124px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 10px;
}

#headline h3 {
  width: 327px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin-bottom: 0;
  margin-top: 0;
}

#headline p {
  width: 327px;
  height: 123px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0;
}

.icons:hover,
button:hover {
  cursor: pointer;
}

#headline .icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  gap: 40px;
  color: #fff;
  font-size: 4vh;
}

#form-container ul li {
  width: 100%;
}

#headline .icons li {
  flex: 1 1 auto;
}

/* works Section */
#works {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 390px;
  top: 2100px;
  box-sizing: border-box;
}

#works h2,
#works h3,
#works p {
  font-family: Crete Round, sans-serif;
  font-weight: 400;
  text-align: left;
}

#works h2 {
  color: #1c1a19;
  font-size: 40px;
  line-height: 52px;
  border-bottom: 1px solid #212121;
  padding-bottom: 30px;
}

#works img {
  width: 327px;
  height: 237px;
}

#works h3 {
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin-bottom: 0;
}

#works p {
  margin-top: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 0;
}

#works .languages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 10px;
}

#works .languages > * {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  width: 55px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  color: #091e42;
}

#form-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

#about-myself > a > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 156px;
  height: 48px;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

#works div.works-container0 a > button {
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

#works > .works-container {
  display: grid;
  grid-template-rows: repeat(6, 386px);
  grid-template-columns: 327px;
  row-gap: 20px;
}

#works > .works-container > .works {
  background: url("./Normal Button/Tertiary/Icons/Img\ Placeholder\ \(1\).png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: 100%;
}

#works > .works-container > .works > h2 {
  font-family: Crete Round, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
  padding: 0 10px;
}

#about-myself p {
  flex: 1;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#about-myself h1 {
  flex: 1;
  font-family: Crete Round, sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  margin-bottom: 0;
}

#form-container div h1 {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  width: 327px;
}

#works > .works-container > .works > p {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
  padding: 0 12px;
}

#works > .works-container > .works > .lw {
  padding-left: 12px;
}

#about-myself .container2 ul > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

#works > .works-container > .works > .lw > * {
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
}

#works > .works-container > .works > a > button {
  width: 100%;
  height: 48px;
  background: #ff6b00;
  border: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

/* About Myself Section */
#about-myself {
  background: #1c1a19;
  position: absolute;
  height: 1601px;
  width: 375px;
  top: 3937px;
  padding: 20px 24px;
  background-image: url("./Normal Button/Tertiary/Icons/Frame.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 25%;
}

.container3 {
  display: flex;
  flex-direction: column;
  width: 360px;
}

hr {
  margin-top: 230px;
}

#about-myself .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-myself .container2 span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#about-myself label {
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  gap: 50px;
}

#about-myself .container2 i {
  color: #ff6b00;
  padding-right: 10px;
}

#about-myself .container2 .first {
  transform: rotate(-45deg);
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#form-container > form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

#about-myself .container2 ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#form-container {
  position: absolute;
  top: 5700px;
  height: 751px;
  width: 375px;
  padding: 10px 20px;
}

#form-container div {
  display: flex;
  justify-content: center;
}

#form-container form {
  width: 327px;
}

input,
textarea {
  width: 100%;
  background: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

input {
  border-bottom: 1px solid #979493;
  padding: 0 5px;
  padding-top: 20px;
  padding-bottom: 10px;
}

input:placeholder {
  color: #979493;
}

textarea::placeholder {
  font-style: italic;
  color: #3c3a39;
}

textarea {
  background-color: #fbf8f7;
  padding: 10px 5px;
  margin-top: 20px;
  height: 114px;
}

input:focus,
textarea:focus {
  outline: none;
}

#form-container ul li:last-child {
  display: flex;
  justify-content: center;
}

footer {
  position: absolute;
  top: 6500px;
  border-top: 1px solid #3c3a39;
  width: 423px;
  height: 60px;
}

@media only screen and (min-width: 375px) {
  header {
    width: 100%;
    padding-right: 3em;
    height: 15vw;
  }

  footer {
    width: 100%;
    padding-right: 3em;
  }

  #headline,
  #works,
  #about-myself,
  #form-container {
    width: 100%;
  }

  hr {
    margin-top: 60vw;
  }

  #form-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 350em;
  }
}

/* For screen sizes of at least 768px */
@media only screen and (min-width: 768px) {
  #about-myself button:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
  }

  #about-myself button:hover {
    background-color: #fff5e1;
    color: #f55800;
    border: 1px solid #f55800;
  }

  #about-myself button:active,
  #form-container form button:active {
    background-color: #e05304;
    color: #fff5e1;
  }

  #form-container form button:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
  }

  #works .works button[type="button"]:hover,
  #form-container form button:hover,
  #works .works-container0 button:hover {
    background-color: #fff5e1;
    color: #f55800;
    border: 1px solid #f55800;
  }

  #works .works button[type="button"]:active,
  #works .works-container0 button:active {
    background-color: #e05304;
    color: #fff5e1;
  }

  #works .works button[type="button"]:disabled,
  #works .works-container0 button:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
  }

  header {
    width: 100%;
    padding-right: 3em;
    height: 15vh;
  }

  .hide {
    display: none;
  }

  .works:hover .hide {
    display: block;
  }

  .works:hover h2,
  .works:hover p,
  #works .works-container .works:hover > ul {
    display: none;
  }

  #works .works:hover {
    background-image: url("./Normal Button/Tertiary/Icons/Img\ Placeholder\ \(3\).png");
  }

  .menuHiden {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    gap: 50px;
  }

  .menuHiden > * {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
  }

  nav.nav-bar span.menu-icon {
    display: none;
  }

  #headline,
  #works,
  #about-myself,
  #form-container {
    width: 100%;
  }

  #headline {
    background-image: url("./Normal Button/Tertiary/Icons/Illustration-header.png");
    background-size: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5vw;
  }

  #headline p {
    width: 50vw;
  }

  #headline .icons {
    flex-direction: column;
    order: -1;
  }

  #works > .works-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }

  #works div.works-container div.works {
    width: 369px;
    height: 435px;
  }

  #about-myself .container2 ul > * {
    align-items: flex-start;
  }

  #works .works-container .works > * {
    border: none;
  }

  #works {
    top: 90em;
    padding: 0 5vw;
  }

  #works div.works-container0 {
    display: flex;
    align-items: flex-start;
    gap: 5vw;
  }

  #works div.works-container00 {
    position: relative;
    display: inline-block;
    width: 90vw;
  }

  #works div.works-container00 h2 {
    border: none;
  }

  #hr-works {
    display: inline-block;
    width: 60vw;
    height: 1px;
    margin: 0 10px;
    vertical-align: middle;
    position: absolute;
    top: 43%;
    left: 60vh;
    transform: translateY(-50%);
    border-top: 1px solid black;
  }

  #works div.works-container0 img {
    flex: 1;
    height: 70vh;
    width: 20vw;
  }

  #form-container div {
    flex: 1;
    justify-content: flex-start;
  }

  #works div.works-container0 div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #works div.works-container0 div h3 {
    margin: 0;
  }

  #about-myself {
    background-image: url("./Normal Button/Tertiary/Icons/Frame\ \(1\).png");
    top: 165em;
    height: 210vh;
  }

  #about-myself div.container3 {
    width: 40vw;
  }

  #about-myself div.container2 {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10vw;
  }

  hr {
    margin-top: 60vh;
  }

  #form-container {
    top: 250em;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 70vh;
    padding: 0 1vw;
    gap: 30px;
  }

  #form-container form {
    flex: 1;
    padding-right: 5vw;
  }

  #form-container div h1 {
    text-align: left;
    color: #262626;
    font-size: 40px;
    line-height: 52px;
    width: 100%;
    padding-left: 5vw;
  }

  footer {
    top: 280em;
  }
}

/*add a transition to the hover state of the .icons and button elements */
.icons,
button {
  transition: transform 0.2s ease-in-out;
}

.icons:hover,
button:hover {
  transform: scale(1.1);
}

/*adding a fade-in animation to the #headline */
#headline {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
